/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    background-color: #27ae60; /* Verde */
    color: #fff; /* Texto blanco */
    padding: 20px;
    text-align: center;
}

/* Estilo para el título */
#titulo {
    margin: 0;
}

/* Estilo para la barra superior */
.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

/* Estilo para la barra de búsqueda */
.busqueda input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fff; /* Borde blanco */
    margin-right: 10px;
}

.busqueda button {
    padding: 8px 15px;
    background-color: #2980b9; /* Azul oscuro */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.busqueda button:hover {
    background-color: #1a5276; /* Azul más oscuro al pasar el mouse */
}

/* Estilo para el logotipo de la empresa */
.logo img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
}

/* Estilo para el logotipo del usuario */
.usuario img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
}

/* Estilo para el icono del carrito */
.carrito img {
    width: 30px; /* Ajusta el tamaño según sea necesario */
    position: relative;
}

.carrito span {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #e74c3c; /* Rojo */
    color: #fff; /* Texto blanco */
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}

/* Estilo para el menú de navegación */
.navegador {
    background-color: #34495e; /* Azul oscuro */
    color: #fff; /* Texto blanco */
    padding: 10px;
    text-align: center;
}

/* Estilo para los enlaces del menú */
.navegador a {
    color: #fff; /* Texto blanco */
    text-decoration: none; /* Sin subrayado */
    margin: 0 10px; /* Espaciado entre enlaces */
}

.navegador a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Estilo para las secciones */
section {
    padding: 20px;
}

/* Estilo para el título de las secciones */
section h2 {
    color: #27ae60; /* Verde */
}

/* Estilo para el contenido destacado */
.cabeza {
    background-color: #f39c12; /* Naranja */
    color: #fff; /* Texto blanco */
    padding: 10px;
}
